.App {
  text-align: center;
}

.divTabel {
  margin: auto;
  background-color: cadetblue;
}

.inputnya {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tabelIsi {
  margin: auto;
  background-color: coral;
  border: black 1px solid;
  border-right: black 1px solid;
  border-collapse: collapse;
}

.inputList {
  margin: auto;
}

.btnAdd {
  margin: auto;
}